# Dependencies
node_modules/

# IDE
.vscode/
.idea/

# Logs
*.log

# Build output
dist/
build/

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.wrangler
.dev.vars

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
*.swp
*.swo

# Cloudflare
.cloudflare

# Package lock
package-lock.json 